[submodule "dependencies/range-v3"]
	path = dependencies/range-v3
	url = https://github.com/ericniebler/range-v3.git
[submodule "dependencies/libraries"]
	path = dependencies/libraries
	url = https://github.com/stlab/libraries.git
